<body class="color-blue">
	<% if current_user %>
<h1>New Descarte</h1>

<%= render 'form' %>

<%= link_to 'Back', descartes_path %>
<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
</body>
