<div class="row">
  <div class="col-md-3 center-block no-float">
<h1>Iniciar Sesion</h1>
<%= form_tag sessions_path do %>
<div class="form-group">
<strong>Cedula:</strong><br>
<%= text_field_tag :CedUs %>
</div>
  <div class="form-group">
    <strong>Contraña</strong><br>
<%= password_field_tag :password %>
</div>
  <div class="text-center">
    <%= submit_tag "Log In" %>
</div>
<% end %>
 </div>
</div>

