<% if current_user %>
<% if can? :create, Signatura %>
<h1>New Signatura</h1>

<%= render 'form' %>

<%= link_to 'Back', signaturas_path %>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
