<p id="notice"><%= notice %></p>

<p>
  <strong>DeState:</strong>
  <%= @query_state.DeState %>
</p>

<%= link_to 'Edit', edit_query_state_path(@query_state) %> |
<%= link_to 'Back', query_states_path %>
