<% if current_user %>
<% if can? :create, User %>

<div class="text-center">
	<h1>Nuevo Usuario</h1>
</div>


<%= render 'form' %>
<%else%>
	<div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
<%else%>
<div class="alert alert-danger" role="alert">No estas Autorizado</div>
  <%end%>
