<% if current_user %>
<% if can? :create, Evento%>
<div class="text-center">
	<h1>Nuevo Evento</h1>
</div>

<%= render 'form' %>


<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>