<body class="color-blue">
	<% if current_user %>
<div class="text-center">
	<h1>Nuevo Prestamo</h1>
</div>


<%= render 'form' %>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>

</body>
