<% if current_user %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nomedi:</strong>
  <%= @editorial.NomEdi %>
</p>

<%= link_to 'Edit', edit_editorial_path(@editorial) %> |
<%= link_to 'Back', editorials_path %>
<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>