<body class="color-blue">
<% if current_user %>
<% if can? :create, Evento%>
<div class="text-center">
	<h2>Nuevo Sugerencia</h2>
</div>

<%= render 'form' %>


<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
</body>
