<% if current_user %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nomplace:</strong>
  <%= @place.NomPlace %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<%else%>
  <div class="alert alert-danger" role="alert">No estas Autorizado</div>
<%end%>
